interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://dataservice.accuweather.com/forecasts/v1/hourly/12hour/3381543?apikey=REDACTED&details=true&metric=true
  response:
    body:
      string: "[{\"DateTime\":\"2026-08-14T21:00:00-04:00\",\"EpochDateTime\":1786755600,\"WeatherIcon\":34,\"IconPhrase\":\"Mostly
        clear\",\"HasPrecipitation\":false,\"IsDaylight\":false,\"Temperature\":{\"Value\":20.1,\"Unit\":\"C\",\"UnitType\":17},\"RealFeelTemperature\":{\"Value\":18.8,\"Unit\":\"C\",\"UnitType\":17,\"Phrase\":\"Pleasant\"},\"RealFeelTemperatureShade\":{\"Value\":18.8,\"Unit\":\"C\",\"UnitType\":17,\"Phrase\":\"Pleasant\"},\"WetBulbTemperature\":{\"Value\":15.8,\"Unit\":\"C\",\"UnitType\":17},\"WetBulbGlobeTemperature\":{\"Value\":19.0,\"Unit\":\"C\",\"UnitType\":17},\"DewPoint\":{\"Value\":12.7,\"Unit\":\"C\",\"UnitType\":17},\"Wind\":{\"Speed\":{\"Value\":7.4,\"Unit\":\"km/h\",\"UnitType\":7},\"Direction\":{\"Degrees\":323,\"Localized\":\"NW\",\"English\":\"NW\"}},\"WindGust\":{\"Speed\":{\"Value\":18.5,\"Unit\":\"km/h\",\"UnitType\":7}},\"RelativeHumidity\":62,\"IndoorRelativeHumidity\":62,\"Visibility\":{\"Value\":16.1,\"Unit\":\"km\",\"UnitType\":6},\"Ceiling\":{\"Value\":9144.0,\"Unit\":\"m\",\"UnitType\":5},\"UVIndex\":0,\"UVIndexFloat\":0.0,\"UVIndexText\":\"Low\",\"PrecipitationProbability\":0,\"ThunderstormProbability\":0,\"RainProbability\":0,\"SnowProbability\":0,\"IceProbability\":0,\"TotalLiquid\":{\"Value\":0.0,\"Unit\":\"mm\",\"UnitType\":3},\"Rain\":{\"Value\":0.0,\"Unit\":\"mm\",\"UnitType\":3},\"Snow\":{\"Value\":0.0,\"Unit\":\"cm\",\"UnitType\":4},\"Ice\":{\"Value\":0.0,\"Unit\":\"mm\",\"UnitType\":3},\"CloudCover\":17,\"Evapotranspiration\":{\"Value\":0.0,\"Unit\":\"mm\",\"UnitType\":3},\"SolarIrradiance\":{\"Value\":0.0,\"Unit\":\"W/m\xB2\",\"UnitType\":33},\"AccuLumenBrightnessIndex\":0.0,\"WindChillTemperature\":{\"Value\":20.1,\"Unit\":\"C\",\"UnitType\":17},\"HeatIndex\":{\"Value\":19.8,\"Unit\":\"C\",\"UnitType\":17},\"MobileLink\":\"http://www.accuweather.com/en/ca/centretown/k1p/hourly-weather-forecast/3381543?day=1&hbhhour=21&unit=c&lang=en-us\",\"Link\":\"http://www.accuweather.com/en/ca/centretown/k1p/hourly-weather-forecast/3381543?day=1&hbhhour=21&unit=c&lang=en-us\"},{\"DateTime\":\"2026-08-14T22:00:00-04:00\",\"EpochDateTime\":1786759200,\"WeatherIcon\":34,\"IconPhrase\":\"Mostly
        clear\",\"HasPrecipitation\":false,\"IsDaylight\":false,\"Temperature\":{\"Value\":18.5,\"Unit\":\"C\",\"UnitType\":17},\"RealFeelTemperature\":{\"Value\":17.2,\"Unit\":\"C\",\"UnitType\":17,\"Phrase\":\"Pleasant\"},\"RealFeelTemperatureShade\":{\"Value\":[...]
