interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://dataservice.accuweather.com/forecasts/v1/daily/5day/3381543?apikey=REDACTED&details=true&metric=true
  response:
    body:
      string: "{\"Headline\":{\"EffectiveDate\":\"2026-08-15T08:00:00-04:00\",\"EffectiveEpochDate\":1786795200,\"Severity\":4,\"Text\":\"Pleasant
        tomorrow\",\"Category\":\"warm\",\"EndDate\":null,\"EndEpochDate\":null,\"MobileLink\":\"http://www.accuweather.com/en/ca/centretown/k1p/daily-weather-forecast/3381543?unit=c&lang=en-us\",\"Link\":\"http://www.accuweather.com/en/ca/centretown/k1p/daily-weather-forecast/3381543?unit=c&lang=en-us\"},\"DailyForecasts\":[{\"Date\":\"2026-08-14T07:00:00-04:00\",\"EpochDate\":1786705200,\"Sun\":{\"Rise\":\"2026-08-14T06:02:00-04:00\",\"EpochRise\":1786701720,\"Set\":\"2026-08-14T20:12:00-04:00\",\"EpochSet\":1786752720},\"Moon\":{\"Rise\":\"2026-08-14T08:16:00-04:00\",\"EpochRise\":1786709760,\"Set\":\"2026-08-14T21:02:00-04:00\",\"EpochSet\":1786755720,\"Phase\":\"WaxingCrescent\",\"Age\":2},\"Temperature\":{\"Minimum\":{\"Value\":13.1,\"Unit\":\"C\",\"UnitType\":17},\"Maximum\":{\"Value\":24.5,\"Unit\":\"C\",\"UnitType\":17}},\"RealFeelTemperature\":{\"Minimum\":{\"Value\":12.9,\"Unit\":\"C\",\"UnitType\":17,\"Phrase\":\"Cool\"},\"Maximum\":{\"Value\":28.7,\"Unit\":\"C\",\"UnitType\":17,\"Phrase\":\"Very
        Warm\"}},\"RealFeelTemperatureShade\":{\"Minimum\":{\"Value\":12.9,\"Unit\":\"C\",\"UnitType\":17,\"Phrase\":\"Cool\"},\"Maximum\":{\"Value\":22.8,\"Unit\":\"C\",\"UnitType\":17,\"Phrase\":\"Pleasant\"}},\"HoursOfSun\":10.0,\"DegreeDaySummary\":{\"Heating\":{\"Value\":0.0,\"Unit\":\"C\",\"UnitType\":17},\"Cooling\":{\"Value\":1.0,\"Unit\":\"C\",\"UnitType\":17}},\"AirAndPollen\":[{\"Name\":\"AirQuality\",\"Value\":0,\"Category\":\"Good\",\"CategoryValue\":1,\"Type\":\"Ozone\"},{\"Name\":\"Grass\",\"Value\":110,\"Category\":\"High\",\"CategoryValue\":3},{\"Name\":\"Mold\",\"Value\":3250,\"Category\":\"Low\",\"CategoryValue\":1},{\"Name\":\"Ragweed\",\"Value\":275,\"Category\":\"High\",\"CategoryValue\":3},{\"Name\":\"Tree\",\"Value\":7,\"Category\":\"Low\",\"CategoryValue\":1},{\"Name\":\"UVIndex\",\"Value\":7,\"Category\":\"High\",\"CategoryValue\":3}],\"Day\":{\"Icon\":14,\"IconPhrase\":\"Partly
        sunny w/ showers\",\"HasPrecipitation\":true,\"PrecipitationType\":\"Rain\",\"PrecipitationIntensity\":\"Light\",\"ShortPhrase\":\"A
        shower or two this morning\",\"LongPhrase\":\"A couple of brief showers late
        this morning; some clouds, then sunshine\",\"PrecipitationProbability\":49,\"ThunderstormProbability\":10,\"RainProbability\":49,\"SnowProbability\":0,\"IceProbability\":0,\"Wind\":{\"Speed\":{\"Value\":9.3,\"Unit\":\"km/h\",\"UnitType\":7},\"Direction\":{\"Degrees\":331,\"Localized\":\"NNW\",\"English\":\"NNW\"}},\"WindGust\":{\"Speed\":{\"Value\":22.2,\"Unit\":\"km/h\",\"UnitType\":7},\"Direction\":{\"Degrees\":350,\"Localized\":\"N\",\"English\":\"N\"}},\"TotalLiquid\":{\"Value\":0.0,\"Unit\":\"mm\",\"UnitType\":3},\"Rain\":{\"Value\":0.0,\"Unit\":\"mm\",\"UnitType\":3},\"Snow\":{\"Value\":0.0,\"Unit\":\"cm\",\"UnitType\":4},\"Ice\":{\"Value\":0.0,\"Unit\":\"mm\",\"UnitType\":3},\"HoursOfPrecipitation\":0.5,\"HoursOfRain\":0.5,\"HoursOfSnow\":0.0,\"HoursOfIce\":0.0,\"CloudCover\":33,\"Evapotranspiration\":{\"Value\":3.8,\"Unit\":\"mm\",\"UnitType\":3},\"SolarIrradiance\":{\"Value\":6702.0,\"Unit\":\"W/m\xB2\",\"UnitType\":33},\"RelativeHumidity\":{\"Minimum\":47,\"Maximum\":77,\"Average\":57},\"WetBulbTemperature\":{\"Minimum\":{\"Value\":16.1,\"Unit\":\"C\",\"UnitType\":17},\"Maximum\":{\"Value\":18.7,\"Unit\":\"C\",\"UnitType\":17},\"Average\":{\"Value\":17.1,\"Unit\":\"C\",\"UnitType\":17}},\"WetBulbGlobeTemperature\":{\"Minimum\":{\"Value\":19.5,\"Unit\":\"C\",\"UnitType\":17},\"Maximum\":{\"Value\":21.4,\"Unit\":\"C\",\"UnitType\":17},\"Average\":{\"Value\":20.6,\"Unit\":\"C\",\"UnitType\":17}},\"UVIndexFloat\":{\"Minimum\":0.8,\"Maximum\":6.6}},\"Night\":{\"Icon\":34,\"IconPhrase\":\"Mostly
        clear\",\"HasPrecipitation\":false,\"ShortPhrase\":\"Mainly clear\",\"LongPhrase\":\"Mainly
        clear\",\"PrecipitationProbability\":1,\"ThunderstormProbability\":0,\"RainProbability\":1,\"SnowProbability\":0,\"IceProbability\":0,\"Wind\":{\"Speed\":{\"Value\":7.4,\"Unit\":\"km/h\",\"UnitType\":7},\"Direction\":{\"Degrees\":332,\"Localized\":\"NNW\",\"English\":\"NNW\"}},\"WindGust\":{\"Speed\":{\"Value\":18.5,\"Unit\":\"km/h\",\"UnitType\":7},\"D[...]
