interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://dataservice.accuweather.com/currentconditions/v1/3381543?apikey=REDACTED&details=true
  response:
    body:
      string: '[{"LocalObservationDateTime":"2026-08-14T20:03:00-04:00","EpochTime":1786752180,"WeatherText":"Mostly
        sunny","WeatherIcon":2,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":21.7,"Unit":"C","UnitType":17},"Imperial":{"Value":71.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":21.0,"Unit":"C","UnitType":17,"Phrase":"Pleasant"},"Imperial":{"Value":70.0,"Unit":"F","UnitType":18,"Phrase":"Pleasant"}},"RealFeelTemperatureShade":{"Metric":{"Value":21.0,"Unit":"C","UnitType":17,"Phrase":"Pleasant"},"Imperial":{"Value":70.0,"Unit":"F","UnitType":18,"Phrase":"Pleasant"}},"RelativeHumidity":61,"IndoorRelativeHumidity":61,"DewPoint":{"Metric":{"Value":13.8,"Unit":"C","UnitType":17},"Imperial":{"Value":57.0,"Unit":"F","UnitType":18}},"Wind":{"Direction":{"Degrees":338,"Localized":"NNW","English":"NNW"},"Speed":{"Metric":{"Value":3.0,"Unit":"km/h","UnitType":7},"Imperial":{"Value":1.8,"Unit":"mi/h","UnitType":9}}},"WindGust":{"Speed":{"Metric":{"Value":9.4,"Unit":"km/h","UnitType":7},"Imperial":{"Value":5.8,"Unit":"mi/h","UnitType":9}}},"UVIndex":0,"UVIndexFloat":0.0,"UVIndexText":"Low","Visibility":{"Metric":{"Value":24.1,"Unit":"km","UnitType":6},"Imperial":{"Value":15.0,"Unit":"mi","UnitType":2}},"ObstructionsToVisibility":"","CloudCover":17,"Ceiling":{"Metric":{"Value":10211.0,"Unit":"m","UnitType":5},"Imperial":{"Value":33500.0,"Unit":"ft","UnitType":0}},"Pressure":{"Metric":{"Value":1021.3,"Unit":"mb","UnitType":14},"Imperial":{"Value":30.16,"Unit":"inHg","UnitType":12}},"HeatIndex":{"Metric":{"Value":21.5,"Unit":"C","UnitType":17},"Imperial":{"Value":71.0,"Unit":"F","UnitType":18}},"PressureTendency":{"LocalizedText":"Rising","Code":"R"},"Past24HourTemperatureDeparture":{"Metric":{"Value":0.7,"Unit":"C","UnitType":17},"Imperial":{"Value":1.0,"Unit":"F","UnitType":18}},"ApparentTemperature":{"Metric":{"Value":21.7,"Unit":"C","UnitType":17},"Imperial":{"Value":71.0,"Unit":"F","UnitType":18}},"WindChillTemperature":{"Metric":{"Value":21.7,"Unit":"C","UnitType":17},"Imperial":{"Value":71.0,"Unit":"F","UnitType":18}},"WetBulbTemperature":{"Metric":{"Value":17.0,"Unit":"C","UnitType":17},"Imperial":{"Value":63.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Metric":{"Value":18.7,"Unit":"C","UnitType":17},"Imperial":{"Value":66.0,"Unit":"F","UnitType":18}},"Precip1hr":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PrecipitationSummary":{"Precipitation":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PastHour":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past3Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past6Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past9Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past12Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past18Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past24Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}}},"TemperatureSummary":{"Past6HourRange":{"Minimum":{"Metric":{"Value":21.7,"Unit":"C","UnitType":17},"Imperial":{"Value":71.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":24.5,"Unit":"C","UnitType":17},"Imperial":{"Value":76.0,"Unit":"F","UnitType":18}}},"Past12HourRange":{"Minimum":{"Metric":{"Value":19.5,"Unit":"C","UnitType":17},"Imperial":{"Value":67.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":24.5,"Unit":"C","UnitType":17},"Imperial":{"Value":76.0,"Unit":"F","UnitType":18}}},"Past24HourRange":{"Minimum":{"Metric":{"Value":13.5,"Unit":"C","UnitType":17},"Imperial":{"Value":56.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":24.5,"Unit":"C","UnitType":17},"Imperial":{"Value":76.0,"Unit":"F","UnitType":18}}}},"MobileLink":"http://www.accuweather.com/en/ca/centretown/k1p/current-weather/3381543?lang=en-us","Link":"http://www.accuweather.com/en/ca/centretown/k1p/current-weather/3381543?lang=en-us"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
