interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://dataservice.accuweather.com/forecasts/v1/minute?q=REDACTED
  response:
    body:
      string: '{"Summary":{"Phrase":"No precipitation for at least 120 min","Type":null,"TypeId":0},"Summaries":[{"StartMinute":0,"EndMinute":119,"CountMinute":120,"MinuteText":"No precipitation for at least %MINUTE_VALUE min","Type":null,"TypeId":0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
