interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://dataservice.accuweather.com/locations/v1/cities/geoposition/search?apikey=REDACTED&q=45.421%2C-75.697
  response:
    body:
      string: '{"Version":1,"Key":"3381543","Type":"City","Rank":55,"LocalizedName":"Centretown","EnglishName":"Centretown","PrimaryPostalCode":"K1P","Region":{"ID":"NAM","LocalizedName":"North
        America","EnglishName":"North America"},"Country":{"ID":"CA","LocalizedName":"Canada","EnglishName":"Canada"},"AdministrativeArea":{"ID":"ON","LocalizedName":"Ontario","EnglishName":"Ontario","Level":1,"LocalizedType":"Province","EnglishType":"Province","CountryID":"CA"},"TimeZone":{"Code":"EDT","Name":"America/Toronto","GmtOffset":-4.0,"IsDaylightSaving":true,"NextOffsetChange":"2026-11-01T06:00:00Z"},"GeoPosition":{"Latitude":45.42,"Longitude":-75.7,"Elevation":{"Metric":{"Value":36.0,"Unit":"m","UnitType":5},"Imperial":{"Value":118.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"ParentCity":{"Key":"55487","LocalizedName":"Ottawa","EnglishName":"Ottawa"},"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"Ottawa","EnglishName":"Ottawa"}],"DataSets":["ActiveEvents-Lightning","AirQualityCurrentConditions","AirQualityForecasts","Alerts","ForecastConfidence","FutureRadar","MinuteCast","ProximityNotification-Lightning","Radar","Severe
        Weather Push Notifications"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
