interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.ambientweather.net/v1/devices?apiKey=REDACTED&applicationKey=REDACTED
  response:
    body:
      string: '[{"macAddress":"REDACTED","lastData":{"dateutc":1786753500000,"tempf":64.9,"humidity":79,"windspeedmph":0.45,"windgustmph":2.24,"maxdailygust":15.88,"winddir":166,"winddir_avg10m":162,"uv":0,"solarradiation":0,"hourlyrainin":0,"eventrainin":0,"dailyrainin":0,"weeklyrainin":0.06,"monthlyrainin":0.37,"yearlyrainin":32.97,"battout":1,"tempinf":72.3,"humidityin":60,"baromrelin":29.775,"baromabsin":29.775,"battin":1,"feelsLike":64.9,"dewPoint":58.23,"feelsLikein":72,"dewPointin":57.6,"lastRain":"2026-08-14T02:11:00.000Z","tz":"America/Halifax","date":"2026-08-15T00:25:00.000Z"},"info":{"name":"REDACTED","coords":[0.0,0.0]}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
