interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gc.ca/collections/observations/point?lat=45.4&lon=-75.7&f=json
  response:
    body:
      string: |-
        {"type": "Feature", "geometry": {"type": "Point", "coordinates": [-75.7, 45.4]}, "properties": {"stationIdentifier": "CARO", "observationTime": "2024-05-01T12:00:00Z", "airTemperature": 12.3, "dewpointTemperature": 3.4, "wind": {"direction": 260, "speed": 15.2}, "seaLevelPressure": 101.2, "relativeHumidity": 72, "visibility": 24.0, "presentWeather": [{"value": "Rain"}], "precipitationLastHour": 0.2}}
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
