interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=REDACTED&exclude=minutely%2Cdaily%2Calerts%2Ccurrent&lat=44.63955893&lon=-63.58675928&units=metric
  response:
    body:
      string: '{"lat":44.6396,"lon":-63.5868,"timezone":"America/Halifax","timezone_offset":-14400,"hourly":[{"dt":1766919600,"temp":-6.22,"feels_like":-13.22,"pressure":1006,"humidity":68,"dew_point":-10.62,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.76,"wind_deg":307,"wind_gust":17.41,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1766923200,"temp":-6.52,"feels_like":-13.52,"pressure":1006,"humidity":72,"dew_point":-10.26,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":7.06,"wind_deg":302,"wind_gust":17.41,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1766926800,"temp":-6.05,"feels_like":-13.05,"pressure":1006,"humidity":68,"dew_point":-10.45,"uvi":0.2,"clouds":100,"visibility":10000,"wind_speed":6.95,"wind_deg":301,"wind_gust":17.16,"weather":[{"i[...]
