interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=REDACTED&exclude=minutely%2Chourly%2Calerts%2Ccurrent&lat=51.51&lon=-0.13&units=metric
  response:
    body:
      string: '{"lat":51.51,"lon":-0.13,"timezone":"Europe/London","timezone_offset":3600,"daily":[{"dt":1786795200,"sunrise":1786769150,"sunset":1786821871,"moonrise":1786781640,"moonset":1786824600,"moon_phase":0.1,"summary":"You
        can expect partly cloudy in the morning, with rain in the afternoon","temp":{"day":28.7,"min":17.28,"max":29.27,"night":17.28,"eve":23.54,"morn":18.84},"feels_like":{"day":28.57,"night":16.79,"eve":23.46,"morn":18.45},"pressure":1016,"humidity":43,"dew_point":13.66,"wind_speed":4.9,"wind_deg":357,"wind_gust":7.96,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":56,"pop":0.2,"rain":0.11,"uvi":4.67},{"dt":1786881600,"sunrise":1786855645,"sunset":1786908152,"moonrise":1786872780,"moonset":1786911720,"moon_phase":0.13,"summary":"There
        will be partly cloudy today","temp":{"day":27.78,"min":13.22,"max":27.78,"night":22.18,"eve":26.26,"morn":16.15},"feels_like":{"day":27.41,"night":21.6,"eve":26.26,"morn":15.65},"pressure":1017,"humidity":39,"dew_point":10.35,"wind_speed":4.18,"wind_deg":310,"wind_gust":4.86,"weather":[{"id":804,"main":"Clouds","description":"overcast
        cloud[...]
