interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?appid=REDACTED&lat=51.51&lon=-0.13
  response:
    body:
      string: '{"coord":{"lon":-0.1257,"lat":51.5085},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"base":"stations","main":{"temp":296.7,"feels_like":296.7,"temp_min":295.44,"temp_max":297.58,"pressure":1015,"humidity":61,"sea_level":1015,"grnd_level":1011},"visibility":10000,"wind":{"speed":1.54,"deg":10},"clouds":{"all":69},"dt":1786752912,"sys":{"type":2,"id":2075535,"country":"GB","sunrise":1786769149,"sunset":1786821869},"timezone":3600,"id":2643743,"name":"London","cod":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
