interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=REDACTED&exclude=minutely%2Chourly%2Calerts%2Ccurrent&lat=44.63955893&lon=-63.58675928&units=metric
  response:
    body:
      string: '{"lat":44.6396,"lon":-63.5868,"timezone":"America/Halifax","timezone_offset":-14400,"daily":[{"dt":1766937600,"sunrise":1766922648,"sunset":1766954458,"moonrise":1766938080,"moonset":1766897580,"moon_phase":0.28,"summary":"You
        can expect partly cloudy in the morning, with clearing in the afternoon","temp":{"day":-2.17,"min":-6.52,"max":0.16,"night":-3.35,"eve":-2.02,"morn":-6.12},"feels_like":{"day":-8.46,"night":-7.21,"eve":-7.66,"morn":-13.12},"pressure":1006,"humidity":48,"dew_point":-10.66,"wind_speed":7.14,"wind_deg":300,"wind_gust":17.41,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":100,"pop":0,"uvi":0.98},{"dt":1767024000,"sunrise":1767009059,"sunset":1767040904,"moonrise":1767025860,"moonset":1766988600,"moon_phase":0.32,"summary":"You
        can expect partly cloudy with rain in the morning, with rain with snow in
        the afternoon","temp":{"day":0.71,"min":-3.88,"max":4.81,"night":4.81,"eve":1.41,"morn":-3.72},"feels_like":{"day":-0.72,"night":-0.35,"eve":-3.97,"morn":-3.72},"pressure":1007,"humidity":65,"dew_point":-5.26,"wind_speed":8.9,"wind_deg":129,"wind_gust":19.47,"weather":[{"id":616,"main":"Snow","description":"rain
        and snow","icon":"13d"}],"clouds":100,"pop":1,"rain":3.73,"snow":1.77,"uvi":0.74},{"dt":1767110400,"sunrise":1767095468,"sunset":1767127351,"moonrise":1767114060,"moonset":1767079860,"moon_phase":0.36,"summary":"The
        day will start with partly cloudy with rain through the late morning hours,
        transitioning to partly cloudy with snow","temp":{"day":1.23,"min":-2.92,"max":8.43,"night":-2.92,"eve":-1.92,"morn":3.75},"feels_like":{"day":-5.18,"night":-9.92,"eve":-8.92,"morn":-1.37},"pressure":988,"humidity":65,"dew_point":-4.81,"wind_speed":9.3,"win[...]
