interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=REDACTED&lat=51.51&lon=-0.13
  response:
    body:
      string: '{"cod": "200", "message": 0.0032, "cnt": 2, "list": [{"dt": 1682910000,
        "main": {"temp": 290.15, "temp_min": 289.15, "temp_max": 291.15, "pressure":
        1014, "humidity": 70}, "weather": [{"id": 801, "main": "Clouds", "description":
        "few clouds", "icon": "02d"}], "wind": {"speed": 3.5, "deg": 90}, "rain":
        {"3h": 0}, "pop": 0.1, "dt_txt": "2023-05-01 03:00:00"}, {"dt": 1682920800,
        "main": {"temp": 292.15, "temp_min": 291.15, "temp_max": 293.15, "pressure":
        1013, "humidity": 60}, "weather": [{"id": 500, "main": "Rain", "description":
        "light rain", "icon": "10d"}], "wind": {"speed": 4.0, "deg": 100}, "rain":
        {"3h": 0.7}, "pop": 0.6, "dt_txt": "2023-05-01 06:00:00"}], "city": {"id":
        2643743, "name": "London", "coord": {"lat": 51.51, "lon": -0.13}, "country":
        "GB"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=REDACTED&lat=51.51&lon=-0.13
  response:
    body:
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1766685600,"main":{"temp":277.74,"feels_like":273.66,"temp_min":276.75,"temp_max":277.74,"pressure":1026,"sea_level":1026,"grnd_level":1023,"humidity":58,"temp_kf":0.99},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":51},"wind":{"speed":5.69,"deg":67,"gust":12.07},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2025-12-25
        18:00:00"},{"dt":1766696400,"main":{"temp":276.78,"feels_like":272.81,"temp_min":276.05,"temp_max":276.78,"pressure":1027,"sea_level":1027,"grnd_level":1023,"humidity":60,"temp_kf":0.73},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"clouds":{"all":30},"wind":{"speed":4.92,"deg":68,"gust":11.02},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2025-12-25
        21:00:00"},{"dt":1766707200,"main":{"temp":275.4[...]
[...]
