interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=REDACTED&exclude=minutely%2Cdaily%2Calerts%2Ccurrent&lat=51.51&lon=-0.13&units=metric
  response:
    body:
      string: '{"lat":51.51,"lon":-0.13,"timezone":"Europe/London","timezone_offset":3600,"hourly":[{"dt":1786752000,"temp":23.55,"feels_like":23.55,"pressure":1015,"humidity":61,"dew_point":15.6,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":4.74,"wind_deg":352,"wind_gust":7.12,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1786755600,"temp":22.98,"feels_like":22.95,"pressure":1015,"humidity":62,"dew_point":15.32,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":3.86,"wind_deg":7,"wind_gust":6.07,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1786759200,"temp":22.17,"feels_like":22.04,"pressure":1015,"humidity":61,"dew_point":14.3,"uvi":0,"clouds":81,"visibility":10000,"wind_speed":4.24,"wind_deg":26,"wind_gust":7.23,"weather":[{"id":803,"main":"C[...]
