interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=REDACTED&lat=51.51&lon=-0.13
  response:
    body:
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1786762800,"main":{"temp":295.23,"feels_like":295.11,"temp_min":292.23,"temp_max":295.23,"pressure":1015,"sea_level":1015,"grnd_level":1011,"humidity":62,"temp_kf":3,"dew_point":287.62},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":79},"wind":{"speed":4.8,"deg":7,"gust":7.4},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2026-08-15
        03:00:00"},{"dt":1786773600,"main":{"temp":293.57,"feels_like":293.31,"temp_min":291.99,"temp_max":293.57,"pressure":1016,"sea_level":1016,"grnd_level":1012,"humidity":63,"temp_kf":1.58,"dew_point":286.3},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":{"all":90},"wind":{"speed":4.4,"deg":5,"gust":7.03},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2026-08-15
        06:00:00"},{"dt":1786784400,"main":{"temp":298.1[...]
