interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?appid=REDACTED&lat=51.51&lon=-0.13
  response:
    body:
      string: '{"coord": {"lon": -0.13, "lat": 51.51}, "weather": [{"id": 500, "main":
        "Rain", "description": "light rain"}], "base": "stations", "main": {"temp":
        289.82, "pressure": 1012, "humidity": 82, "temp_min": 288.71, "temp_max":
        290.93}, "visibility": 10000, "wind": {"speed": 4.1, "deg": 80}, "rain": {"1h":
        0.25}, "clouds": {"all": 90}, "dt": 1682899200, "sys": {"country": "GB"},
        "name": "London", "cod": 200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?appid=REDACTED&lat=51.51&lon=-0.13
  response:
    body:
      string: '{"coord":{"lon":-0.1257,"lat":51.5085},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":278.22,"feels_like":273.68,"temp_min":277.47,"temp_max":278.81,"pressure":1026,"humidity":59,"sea_level":1026,"grnd_level":1023},"visibility":10000,"wind":{"speed":7.2,"deg":70},"clouds":{"all":75},"dt":1766675633,"sys":{"type":2,"id":268730,"country":"GB","sunrise":1766649929,"sunset":1766678134},"timezone":0,"id":2643743,"name":"London","cod":200}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?appid=REDACTED&lat=51.51&lon=-0.13
  response:
    body:
      string: '{"coord":{"lon":-0.13,"lat":51.51},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"base":"stations","main":{"temp":277.34,"feels_like":273.41,"temp_min":276.25,"temp_max":278.17,"pressure":1027,"humidity":75,"sea_level":1027,"grnd_level":1023},"visibility":10000,"wind":{"speed":5.14,"deg":70},"clouds":{"all":100},"dt":1766688458,"sys":{"type":2,"id":268730,"country":"GB","sunrise":1766649930,"sunset":1766678135},"timezone":0,"id":2643743,"name":"London","cod":200}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
