interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?lat=51.51&lon=-0.13&appid=REDACTED
  response:
    body:
      string: |-
        {"coord": {"lon": -0.13, "lat": 51.51}, "weather": [{"id": 500, "main": "Rain", "description": "light rain"}], "base": "stations", "main": {"temp": 289.82, "pressure": 1012, "humidity": 82, "temp_min": 288.71, "temp_max": 290.93}, "visibility": 10000, "wind": {"speed": 4.1, "deg": 80}, "rain": {"1h": 0.25}, "clouds": {"all": 90}, "dt": 1682899200, "sys": {"country": "GB"}, "name": "London", "cod": 200}
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
