interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tomorrow.io/v4/weather/forecast?apikey=REDACTED&location=40.7%2C-74.0&timesteps=1h&units=metric
  response:
    body:
      string: '{"timelines":{"hourly":[{"time":"2026-08-15T00:00:00Z","values":{"altimeterSetting":1016.42,"cloudBase":null,"cloudCeiling":null,"cloudCover":0,"dewPoint":19.3,"evapotranspiration":0.238,"freezingRainIntensity":0,"humidity":67,"iceAccumulation":0,"iceAccumulationLwe":0,"precipitationProbability":0,"pressureSeaLevel":1016.8,"pressureSurfaceLevel":1015.78,"rainAccumulation":0,"rainIntensity":0,"sleetAccumulation":0,"sleetAccumulationLwe":0,"sleetIntensity":0,"snowAccumulation":0,"snowAccumulationLwe":0,"snowDepth":null,"snowIntensity":0,"temperature":25.65,"temperatureApparent":25.6,"uvHealthConcern":0,"uvIndex":0,"visibility":16,"weatherCode":1000,"windDirection":147,"windGust":7.3,"windSpeed":4.6}},{"time":"2026-08-15T01:00:00Z","values":{"altimeterSetting":1017.07,"cloudBase":null,"cloudCeiling":null,"cloudCover":0,"dewPoint":20.2,"evapotranspiration":0.193,"freezingRainIntensity":0,"humidity":71,"iceAccumulation":0,"iceAccumulationLwe":0,"precipitationProbability":0,"pressureSeaLevel":1017.42,"pressureSurfaceLevel":1016.43,"rainAccumulation":0,"rainIntensity":0,"sleetAccumulation":0,"sleetAccumulationLwe":0,"sleetIntensity":0,"snowAccumulation":0,"snowAccumulationLwe":0,"snowDepth"[...]
