interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tomorrow.io/v4/weather/forecast?apikey=REDACTED&location=40.7%2C-74.0&timesteps=1d&units=metric
  response:
    body:
      string: '{"timelines":{"daily":[{"time":"2026-08-14T10:00:00Z","values":{"altimeterSettingAvg":1017.77,"altimeterSettingMax":1019.79,"altimeterSettingMin":1015.8,"cloudBaseAvg":14.69,"cloudBaseMax":16,"cloudBaseMin":10.47,"cloudCeilingAvg":11.4,"cloudCeilingMax":13.1,"cloudCeilingMin":10.5,"cloudCoverAvg":14.62,"cloudCoverMax":77.04,"cloudCoverMin":0,"dewPointAvg":18.6,"dewPointMax":21.1,"dewPointMin":16.9,"evapotranspirationAvg":0.23,"evapotranspirationMax":0.528,"evapotranspirationMin":0.022,"evapotranspirationSum":5.521,"freezingRainIntensityAvg":0,"freezingRainIntensityMax":0,"freezingRainIntensityMin":0,"humidityAvg":68,"humidityMax":93,"humidityMin":49,"iceAccumulationAvg":0,"iceAccumulationLweAvg":0,"iceAccumulationLweMax":0,"iceAccumulationLweMin":0,"iceAccumulationLweSum":0,"iceAccumulationMax":0,"iceAccumulationMin":0,"iceAccumulationSum":0,"moonriseTime":"2026-08-14T12:12:31Z","moonsetTime":"2026-08-14T00:38:46Z","precipitationProbabilityAvg":0,"precipitationProbabilityMax":0,"precipitationProbabilityMin":0,"pressureSeaLevelAvg":1017.82,"pressureSeaLevelMax":1020,"pressureSeaLevelMin":1015.68,"pressureSurfaceLevelAvg":1016.66,"pressureSurfaceLevelMax":1019.14,"pressureSurfaceLevelMin":1014.36,"rainAccumulationAvg":0,"rainAccumulationMax":0,"rainAccumulationMin":0,"rainAccumulationSum":0,"rainIntensityAvg":0,"rainIntensityMax":0,"rainIntensityMin":0,"sleetAccumulationAvg":0,"sleetAccumulationLweAvg":0,"sleetAccumulationLweMax":0,"sleetAccumulationLweMin":0,"sleetAccumulationLweSum":0,"sleetAccumulationMax":0,"sleetAccumulationMin":0,"sleetAccumulationSum":0,"sleetIntensityAvg":0,"sleetIntensityMax":0,"sleetIntensityMin":0,"snowAccumulationAvg":0,"snowAccumulationLweAvg":0,"snowAccumulationLweMax":0,"snowAccumulationLweMin":0,"snowAccumulationLweSum":0,"snowAccumulationMax":0,"snowAccumulationMin":0,"snowAccumulationSum":0,"snowDepthAvg":null,"snowDepthMax":null,"snowDepthMin":null,"snowDepthSum":null,"snowIntensityAvg":0,"snowIntensityMax":0,"snowIntensityMin":0,"sunriseTime":"2026-08-14T10:05:00Z","sunsetTime":"2026-08-14T23:56:00Z","temperatureApparentAvg":25.5,"temperatureApparentMax":29.8,"temperatureApparentMin":20.9,"temperatureAvg":25.21,"temperatureMax":29.05,"temperatureMin":20.86,"uvHealthConcernAvg":1,"uvHealthConcernMax":2,"uvHealthConcernMin":0,"uvIndexAvg":2,"uvIndexMax":7,"uvIndexMin":0,"visibilityAvg":15.6,"visibilityMax":16,"visibilityMin":13.2,"weatherCodeAvg":1029,"weatherCodeMax":1000,"weatherCodeMin":1000,"windDirectionAvg":147,"windDirectionMax":344,"windDirectionMin":8,"windGustAvg":4.9,"windGustMax":8.5,"windGustMin":1.8,"windSpeedAvg":3,"windSpeedMax":5,"windSpeedMin":0.8}},{"time":"2026-08-15T10:00:00Z","values":{"altimeterSettingAvg":1020.26,"altimeterSettingMax":1021.26,"altimeterSettingMin":1019.59,"cloudBaseAvg":3.8,"cloudBaseMax":4.59,"cloudBaseMin":2.25,"cloudCeilingAvg":12.5,"cloudCeilingMax":12.5,"cloudCeilingMin":12.5,"cloudCoverAvg":30.32,"cloudCoverMax":100,"cloudCoverMin":0,"dewPointAvg":16.7,"dewPointMax":20.3,"dewPointMin":11.2,"evapotranspirationAvg":0.147,"evapotranspirationMax":0.237,"evapotranspirationMin":0.054,"evapotranspirationSum":3.52[...]
