interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.tomorrow.io/v4/weather/realtime?apikey=REDACTED&location=40.7%2C-74.0&units=metric
  response:
    body:
      string: '{"data":{"time":"2026-08-15T00:21:00Z","values":{"altimeterSetting":1017.04,"cloudBase":16,"cloudCeiling":null,"cloudCover":0,"dewPoint":20.3,"freezingRainIntensity":0,"humidity":71,"precipitationProbability":0,"pressureSeaLevel":1016.96,"pressureSurfaceLevel":1015.6,"rainIntensity":0,"sleetIntensity":0,"snowIntensity":0,"temperature":26.06,"temperatureApparent":26.1,"uvHealthConcern":0,"uvIndex":0,"visibility":15.2,"weatherCode":1000,"windDirection":135,"windGust":6.2,"windSpeed":3}},"location":{"lat":40.7,"lon":-74}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
