interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://weatherkit.apple.com/api/v1/weather/en-US/45.421/-75.697?countryCode=CA&dataSets=currentWeather%2CforecastHourly%2CforecastDaily%2CforecastNextHour%2CweatherAlerts&timezone=America%2FHalifax
  response:
    body:
      string: '{"currentWeather":{"name":"CurrentWeather","metadata":{"attributionURL":"https://developer.apple.com/weatherkit/data-source-attribution/","expireTime":"2026-08-15T00:26:03Z","latitude":45.420,"longitude":-75.700,"readTime":"2026-08-15T00:21:03Z","reportedTime":"2026-08-15T00:21:03Z","units":"m","version":1,"sourceType":"modeled"},"asOf":"2026-08-15T00:21:03Z","cloudCover":0.38,"cloudCoverLowAltPct":0.41,"cloudCoverMidAltPct":0.04,"cloudCoverHighAltPct":0.0,"conditionCode":"PartlyCloudy","daylight":false,"humidity":0.64,"precipitationIntensity":0.0,"pressure":1019.65,"pressureTrend":"rising","temperature":20.62,"temperatureApparent":19.79,"temperatureDewPoint":13.57,"uvIndex":0,"visibility":33400.38,"windDirection":1,"windGust":19.7,"windSpeed":8.39},"forecastDaily":{"name":"DailyForecast","metadata":{"attributionURL":"https://developer.apple.com/weatherkit/data-source-attribution/","expireTime":"2026-08-15T01:21:03Z","latitude":45.420,"longitude":-75.700,"readTime":"2026-08-15T00:21:03Z","reportedTime":"2026-08-14T23:05:35Z","units":"m","version":1,"sourceType":"modeled"},"days":[{"forecastStart":"2026-08-14T03:00:00Z","forecastEnd":"2026-08-15T03:00:00Z","conditionCode":"MostlyClear","maxUvIndex":5,"moonPhase":"waxingCrescent","moonrise":"2026-08-14T12:16:49Z","moonset":"2026-08-15T01:01:56Z","precipitationAmount":0.19,"precipitationChance":0.21,"precipitationType":"rain","snowfallAmount":0.0,"solarMidnight":"2026-08-14T05:07:49Z","solarNoon":"2026-08-14T17:07:20Z","sunrise":"2026-08-14T10:02:36Z","sunriseCivil":"2026-08-14T09:30:26Z","sunriseNautical":"2026-08-14T08:50:22Z","sunriseAstronomical":"2026-08-14T08:05:45Z","sunset":"2026-08-15T00:11:37Z","sunsetCivil":"2026-08-15T00:43:54Z","sunsetNautical":"2026-08-15T01:23:45Z","sunsetAstronomical":"2026-08-15T02:07:48Z","temperatureMax":25.02,"temperatureMin":13.73,"windGustSpeedMax":21.09,"windSpeedAvg":4.14,"windSpeedMax":9.53,"daytimeForecast":{"forecastStart":"2026-08-14T10:00:00Z","forecastEnd":"2026-08-14T22:00:00Z","cloudCover":0.25,"conditionCode":"MostlyClear","humidity":0.62,"precipitationAmount":0.19,"precipitationChance":0.21,"precipitationType":"rain","snowfallAmount":0.0,"temperatureMax":25.02,"temperatureMin":13.73,"windDirection":354,"windGustSpeedMax":17.09,"windSpeed":4.51,"windSpeedMax":9.53},"overnightForecast":{"forecastStart":"2026-08-14T22:00:00Z","forecastEnd":"2026-08-15T10:00:00Z","cloudCover":0.15,"conditionCode":"MostlyClear","humidity":0.74,"precipitationAmount":0.0,"precipitationChance":0.0,"precipitationType":"clear","snowfallAmount":0.0,"temperatureMax":24.67,"temperatureMin":13.03,"windDirection":355,"windGustSpeedMax":21.09,"windSpeed":6.61,"windSpeedMax":8.43},"restOfDayForecast":{"forecastStart":"2026-08-15T00:21:03Z","forecastEnd":"2026-08-15T03:00:00Z","cloudCover":0.21,"conditionCode":"MostlyClear","humidity":0.7,"precipitationAmount":0.0,"precipitationChance":0.0,"precipitationType":"clear","snowfallAmount":0.0,"temperatureMax":20.62,"temperatureMin":17.18,"windDirection":4,"windGustSpeedMax":19.7,"windSpeed":7.58,"windSpeedMax":8.43}},{"forecastStart":"2026-08-15T03:00:00Z","forecastEnd":"2026-08-16T03:00:00Z","conditionCode":"PartlyCloudy","maxUvIndex":5,"moonPhas[...]
